= title @user.name
%h2.mt-5= User.human_attribute_name(:introduction)
= @user.introduction
%h2.mt-5= User.human_attribute_name(:external_blog_url)
= link_to sanitize(@user.external_blog_url), @user.external_blog_url

- if current_user == @user
  = link_to t('users.profiles.edit.title'), edit_profile_path, class: 'btn btn-outline-dark mt-5'
